<div class="container-fluid mt-5 mb-5">
    <div class="row p-5 align-items-center" style="height: 33rem;">
        <div class="col text-center" data-aos="fade-up">
            <h1 class="display-5">Sistem Peminjaman Inventaris</h1>
            <!-- <h3 class="display-6 mb-4">Dinas Komunikasi dan Informatika Kota Manado</h3> -->
            <p class="mt-4 mb-5">
                Selamat datang di sistem peminjaman invertaris dinas komunikasi dan informatika daerah kota manado.
                <br>
                Tekan tombol di bawah atau menu ketersediaan barang di atas untuk melihat ketersediaan barang.
            </p>
            <a href="/barang" class="btn btn-primary" style="height: 40px; width: 150px;">
                Lihat Barang
            </a>
            <div class="mt-5">
                <img src="./image/kominfo.png" alt="" height="100px">
                <img src="./image/logo-kota-manado.webp" alt="" height="100px">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 mb-5 p-5"  style="background-color: rgb(13, 110, 253); height: 58rem;" data-aos="slide-up" data-aos-offset="50">
    <div class="row p-5">
        <div class="col text-light text-center">
            <h3 data-aos="fade-up">Langkah Pengajuan Pinjaman</h3>
            <h2 data-aos="fade-up"><i class="bi bi-arrow-bar-down"></i></h2>
        </div>
    </div>
    
    <div class="row text-center text-light justify-content-center pe-5 ps-5 mt-4">
        <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
            <div class="card text-center p-3" style="width: 18rem; background-color: rgb(13, 110, 253); border-color: white;">
                <h1 class="pt-2 display-6" data-aos="fade-up">1</h1>
                <h1 class="pt-5 display-4" data-aos="fade-up"><i class="bi bi-boxes"></i></h1>
                <div class="card-body pb-5" data-aos="fade-up">
                    <p class="card-text">Sebelum meminjam barang, pihak yang ingin meminjam diharapkan memeriksa ketersediaan barang yang akan dipinjam dengan menekan tombol barang yang terdapat pada navigasi.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
            <div class="card text-center p-3" style="width: 18rem; background-color: rgb(13, 110, 253); border-color: white;">
                <h1 class="pt-2 display-6" data-aos="fade-up">2</h1>
                <h1 class="pt-5 display-4" data-aos="fade-up"><i class="bi bi-journal-medical"></i></h1>
                <div class="card-body pb-5" data-aos="fade-up">
                    <p class="card-text">Setelah memastikan ketersediaan barang yang ingin dipinjam, pihak yang ingin meminjam barang diwajibkan membawa Surat Perintah Tugas (SPT) yang berisi nama instansi peminjam, nama orang yang melakukan pinjaman, dan rincian barang yang akan dipinjam di Diskominfo Kota Manado.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center p-3" data-aos="fade-up">
            <div class="card text-center p-3" style="width: 18rem; background-color: rgb(13, 110, 253); border-color: white;">
                <h1 class="pt-2 display-6" data-aos="fade-up">3</h1>
                <h1 class="pt-5 display-4" data-aos="fade-up"><i class="bi bi-box2"></i></h1>
                <div class="card-body pb-5" data-aos="fade-up">
                    <p class="card-text">Setelah admin Sistem Peminjaman Inventaris memastikan kredibilitas Surat Perintah Tugas (SPT) yang diberikan pihak peminjam, barulah pihak peminjam dapat mengambil barang yang ingin dipinjam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>