<div class="container mt-5 mb-5">
    <div class="row p-5">
        <div class="col-6">
            <form method="POST" action="/user/register">
                <h3 class="mb-4 text-muted">Register</h3>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <button type="submit" class="btn btn-secondary mt-5">Submit</button>
              </form>
        </div>
    </div>
</div>