<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand p-2" href="">Invenatris</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-door-fill"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/barang"><i class="bi bi-box2-fill"></i> Barang</a>
            </li>
            </ul>
            <div class="d-flex">
                <% if (locals.userId) { %>
                  <div class="dropdown">
                    <a class="text-dark me-4" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" style="text-decoration: none;"><i class="bi bi-person-circle"></i> Sign out</a>
                    <div class="dropdown-menu dropdown-menu-lg-end p-4" style="width: 200px;">
                      <h6><%= locals.userName %></h6>
                      <p><%= locals.userEmail %></p>
                      <a class="text-danger me-4" href="/user/logout" style="text-decoration: none;"> Logout</a>
                    </div>
                  </div>
                <% } else { %>
                  <div class="dropdown">
                    <a class="text-dark me-4" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" style="text-decoration: none;"><i class="bi bi-person-circle"></i> Sign in</a>
                    <form method="POST" action="/user/login" class="dropdown-menu dropdown-menu-lg-end p-4" style="width: 300px;">
                      <div class="mb-3">
                        <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" name="email" aria-describedby="emailHelp" required>
                      </div>
                      <div class="mb-3">
                        <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" name="password" required>
                      </div>

                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                  </div>
                <% } %> 
            </div>
        </div>
      </div>
    </div>
  </nav>